<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ninhaocontext" connectionstring="server=.; database=ninhao; uid=sa; pwd=123456" providername="system.data.sqlclient" />
    <!--<add name="NinhaoContext" connectionString="server='ninhaodb.cktfontr38lz.ca-central-1.rds.amazonaws.com'; database=Ninhao; uid=sa; pwd=Q!w2e3r4t5y6" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>